.img{
  display: block;
  width: 300px;
  box-sizing: border-box;

  border: 3px solid rgb(231, 100, 85) ;
  padding: 5px 15px;
  margin: 10px auto;
}

.span {
  display: inline-block;
  width: 300px;
  border: 3px solid rgb(231, 100, 85) ;
  padding: 5px 15px;
  margin: 10px;
}

.div {
  display: inline-block;
  border: 3px solid rgb(196, 75, 62);
  /* width: 300px;
  margin: 50px auto;
   */
}

/* .align-center{
  margin: 10px auto;
  text-align: center;
} */
